.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left:0;
  width: 75%;
  font-size: 15px;
}

.right {
  right: 0;
  width: 25%;
  background-color: #d6492b;
  font-size: 15px;
}
