*, *:after, *:before {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}
header {
    font-family: 'Poppins', sans-serif;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
    z-index: 5;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
body {
	font-family: 'Poppins', sans-serif;
    overflow: hidden;
  &.modal-active {
    overflow: hidden;
  }    
}

.hide {
	display: none;
}

nav {
  float: right;
  margin-right: 10%;
  margin-bottom: 1%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left:0;
  width: 75%;
  font-size: 15px;
}

.right {
  right: 0;
  width: 25%;
  background-color: #ffe4c2;
  font-size: 16px;
}

.center {
  margin-left: 25%;
}

.dnt {
  margin: auto;
	margin-top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  line-height: 30px;
}

.dnt .button {
  margin: auto;
  margin-top: 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  border: none;
  border-radius: 45px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  background-color: #FF0000;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08),
              0 2px 2px rgba(0,0,0,0.08), 
              0 4px 4px rgba(0,0,0,0.08), 
              0 8px 8px rgba(0,0,0,0.08), 
              0 16px 16px rgba(0,0,0,0.08), 
              0 32px 32px rgba(0,0,0,0.08);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-10px);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 0;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  box-shadow: 0px 0px 1px #474747;
  border-radius: 50%;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  border-radius: 45px;
  border: 1px solid #474747;
  box-shadow: 0px 0px 1px #474747;
  background-color: transparent;
  font-family: sans-serif;
  max-width: 15rem;
  padding: .5rem;
  border-width: 2px 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  color: #000;
}
