*, *:after, *:before {
  box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../images/run_better.jpg');
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 100%;
	margin: auto;
}

.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
/*
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 18.5% 29.5%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
}
.welcome-text h1 span {
	color: #00fecb;
}
*/
.welcome-text {
	display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.welcome-text a {
	border: 1px solid #000;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 30px;
	display: inline-block;
	color: #000;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
.btn {
  position: absolute;
  top: 10%;
  left: 75%;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 45px;
  text-align: center;
  
  
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  background-color: #FF0000;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08),
              0 2px 2px rgba(0,0,0,0.08), 
              0 4px 4px rgba(0,0,0,0.08), 
              0 8px 8px rgba(0,0,0,0.08), 
              0 16px 16px rgba(0,0,0,0.08), 
              0 32px 32px rgba(0,0,0,0.08);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
}

.btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-10px);
}

.custom-text {
	text-align: center;
}
.custom-text h1 {
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 50px;
}

.custom-text h1 span {
	color: #d53363;
}

.custom-text h2 {
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
}
.custom-text h2 span {
	color: #d53363;
}

.custom-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
