*, *:after, *:before {
  box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../images/run.jpg');
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 100%;
	margin: auto;
}

nav {
  float: right;
  margin-right: 15%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
.btn {
  position: absolute;
  top: 10%;
  left: 75%;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 45px;
  text-align: center;
  
  
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  background-color: #FF0000;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08),
              0 2px 2px rgba(0,0,0,0.08), 
              0 4px 4px rgba(0,0,0,0.08), 
              0 8px 8px rgba(0,0,0,0.08), 
              0 16px 16px rgba(0,0,0,0.08), 
              0 32px 32px rgba(0,0,0,0.08);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
}

.btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-10px);
}
