:root {
    --bg: #fdfdfd;
    --highlight1: #ED4264;
    --highlight2: #FFEDBC;
    --color: #1a1e24;
    --font-number: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    --font-head: "Space Mono", Consolas, Menlo, Monaco, "Courier New", monospace;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.checklist {
    width: 600px;
    max-width: 100%;
		margin: auto;
}

.ann {
		display: block;
    clear: both;
    padding-bottom: 4rem;
    font-size: 1.0rem;
    line-height: 1.15;
    position: relative;
		box-shadow: 0 1px 1px rgba(0,0,0,0.08),
              0 2px 2px rgba(0,0,0,0.08), 
              0 4px 4px rgba(0,0,0,0.08), 
              0 8px 8px rgba(0,0,0,0.08);
		margin-bottom: 2rem;
		background-color: #fff;
		border-radius: 20px;
}

.ann:before {
    font: bold 2.25rem/1 var(--font-number);
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.ann:after {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
}

.checkitem {
		display: block;
    clear: both;
    counter-increment: list;
    padding-bottom: 4rem;
    font-size: 1.0rem;
    line-height: 1.15;
    position: relative;
		box-shadow: 0 1px 1px rgba(0,0,0,0.08),
              0 2px 2px rgba(0,0,0,0.08), 
              0 4px 4px rgba(0,0,0,0.08), 
              0 8px 8px rgba(0,0,0,0.08);
		margin-bottom: 2rem;
		background-color: #fff;
		border-radius: 20px;
}

.checkitem:before {
    font: bold 2.25rem/1 var(--font-number);
    content: counter(list);
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}

.checkitem:after {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
}


.headline {
		padding: 0rem 0 0 0;
    margin: 0 0 1rem 0;
}
