body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Poppins", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1.0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/run_Homepage-1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.name {
  position: absolute;
  left: 0;
  top: 18%;
  width: 75%;
  text-align: center;
  color: #000;
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 71%;
  text-align: center;
  color: #000;
}

.before {
  position: absolute;
  left: 0;
  top: 31%;
  width: 75%;
  text-align: center;
  color: #000;
}

.below {
  position: absolute;
  left: 0;
  top: 37%;
  width: 75%;
  text-align: center;
  color: #000;
}

.lower {
  position: absolute;
  left: 0;
  top: 43%;
  width: 75%;
  text-align: center;
  color: #000;
}

.point {
  position: absolute;
  left: 0;
  top: 49%;
  width: 75%;
  text-align: center;
  color: #000;
}

.caption span.border {
	background-color: #111;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 10px;
}

.before span.border {
	background-color: #111;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 10px;
}

.below span.border {
	background-color: #111;
  color: #00fecb;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 10px;
}

.lower span.border {
	background-color: #111;
  color: #00fecb;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 10px;
}

.point span.border {
	background-color: #111;
  color: #00fecb;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 0px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px 'Poppins', sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
