<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Prosthesis - My Donations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://rsms.me/inter/inter-ui.css?v=3.2'><link rel="stylesheet" href="css/mydonations.css">
  <link href="css/mydonations.css" rel="stylesheet" type="text/css"/>
  <link href="css/menu.css" rel="stylesheet" type="text/css"/>
  <link href="css/login.css" rel="stylesheet">
  <script src='https://www.gstatic.com/firebasejs/live/3.1/firebase.js'></script>
  <script src="js/login.js"></script>
  <script src="js/mydonations.js"></script>
  <script>
    var currentData = '<%- JSON.stringify(data) %>'; // 'data' is now a valid js object
  </script>
</head>
<body>
<header>
  <nav>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/donate.html">Donate</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li>
          <div class="uinfo">
              <button class="login third" id="login-button">Login</button>
              <div class="dropdown" id="umenu">
              <button class="login third" id="ubutton">username</button>
              <div class="dropdown-content">
                  <a id="mydonations-button">Donations</a>
                  <a id="logout-button">Logout</a>
              </div>
              </div>
          </div>
        </li>
    </ul>
  </nav>
</header>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="list">
    <div class="list__header">
      <h5 id="total"></h5>
      <h1>My Donations</h1>
    </div>
    <div class="list__body">
      <table class="list__table" id="donations">
        <tr><th>#</th><th>Name</th><th>Collected</th><th>Missing</th><th>My Donation</th></tr>
      </table>
    </div>
  </div>
</div>
<div class="overlay"></div>
<div class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__title">Life Story</div>
    <button class="button button--close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="15" y1="9" x2="9" y2="15"></line>
        <line x1="9" y1="9" x2="15" y2="15"></line>
      </svg>
    </button>
  </div>
  <div class="sidebar__body"></div>
</div>


<div class="user-modal">
  <div class="user-modal-container">
    <ul class="switcher">
      <li><a href="#0" id="tab-login">Sign in</a></li>
      <li><a href="#0" id="tab-new-account">Sign up</a></li>
    </ul>

    <div id="login">
      <form class="form">
        <p class="fieldset">
          <label class="image-replace email" for="signin-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
          <span class="error-message">An account with this email address does not exist!</span>
        </p>

        <p class="fieldset">
          <label class="image-replace password" for="signin-password">Password</label>
          <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
          <a class="hide-password">Show</a>
          <span class="error-message">Wrong password! Try again.</span>
        </p>

        <p class="fieldset">
          <input type="checkbox" id="remember-me" checked>
          <label for="remember-me">Remember me</label>
        </p>

        <p class="fieldset">
          <input class="full-width" type="submit" value="Login" id="sign-in-final">
        </p>
      </form>
      
      <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>
      <!-- <a href="#0" class="close-form">Close</a> -->
    </div>

    <div id="signup">
      <form class="form">
        <p class="fieldset">
          <label class="image-replace username" for="signup-username">Username</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
          <span class="error-message">Your username can only contain numeric and alphabetic symbols!</span>
        </p>

        <p class="fieldset">
          <label class="image-replace email" for="signup-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
          <span class="error-message">Enter a valid email address!</span>
        </p>

        <p class="fieldset">
          <label class="image-replace password" for="signup-password">Password</label>
          <input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password">
          <a class="hide-password">Show</a>
          <span class="error-message">Your password has to be at least 6 characters long!</span>
        </p>

        <p class="fieldset">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">I agree to the <a class="accept-terms" href="#0">Terms</a></label>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Create account" id="sign-up-final">
        </p>
      </form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div>

    <div id="reset-password">
      <p class="form-message">Lost your password? Please enter your email address.</br> You will receive a link to create a new password.</p>

      <form class="form">
        <p class="fieldset">
          <label class="image-replace email" for="reset-email">E-mail</label>
          <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
          <span class="error-message">An account with this email does not exist!</span>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Reset password" id="reset-final">
        </p>
      </form>

      <p class="form-bottom-message"><a href="#0">Back to log-in</a></p>
    </div>
      <a href="#0" class="close-form">Close</a>
  </div>
</div>
</body>
</html>
